@model Note

@{
    ViewData["Title"] = "Create Note";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Create">
    <div class="container">
        <div class="mb-2">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control">Here your description...</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input type="datetime-local" asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>-Select Category-</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary btn-sm" />
        </div>
    </div>
</form>

